body {
  margin: 0;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a {
  color: inherit;
}
canvas {
  border: 5px ridge gray;
}

.explainer {
  position: absolute;
  left: 0;
  width: 200px;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: left;
  padding: 0.5rem;
}

.explainer summary {
  width: 100%;
  cursor: pointer;
}
